{% extends 'adminNavbar.html' %}
{% block main  %}
{% load static %}
<div class="pagetitle">
    <h1>Manage City</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">City</li>
            <li class="breadcrumb-item active">Manage City</li>
        </ol>
    </nav>
</div>

<section class="section">
      <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage City</h5>
                    <table class="table table-bordered border-primary">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">State Name</th>
                            <th scope="col">City Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in city %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.state.statename}}</td>
                            <td>{{i.cityname}}</td>
                            <td><a class="btn btn-sm btn-primary" href="{% url 'editCity' i.id %}">Edit</a>|
                            <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="{% url 'deleteCity' i.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
      </div>
</section>
{% endblock %}