{% extends 'adminNavbar.html' %}
{% block main  %}
{% load static %}
<div class="pagetitle">
    <h1>Property List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Property List</li>
        </ol>
    </nav>
</div>

<section class="section">
      <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Property List</h5>
                    <table class="table table-bordered border-primary">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property ID</th>
                            <th scope="col">Property Title</th>
                            <th scope="col">Full Name (Posted By)</th>
                            <th scope="col">Listing Date</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in property %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.propertyid}}</td>
                            <td>{{i.propertytitle}}</td>
                            <td>{{i.user.user.first_name}} {{i.user.user.last_name}}</td>
                            <td>{{i.listingdate}}</td>
                            <td><a class="btn btn-sm btn-primary" href="{% url 'viewPropertyDetails' i.id %}">View</a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
      </div>
</section>
{% endblock %}